.idea/
*build*/

cocos2d/cmake
cocos2d/docs
cocos2d/licenses
cocos2d/tools
cocos2d/.appveyor.yml
cocos2d/AUTHORS
cocos2d/CHANGELOG
cocos2d/CMakeLists.txt
cocos2d/CONTRIBUTING.md
cocos2d/download-deps.py
cocos2d/install-deps-linux.sh
cocos2d/issue_template.md
cocos2d/README.md